---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Pierre Prézelin | Portfolio">
  <main>
    <div id="toppage-content">
      <div id="conteneur-parralax">
        <div id="parallax">
          <div id="txt-intro">
            <p>*Plongez</p>
          </div>
          <div id="logo"><a href="#accueil" title="*Plongez"></a></div>
          <div id="a1">
            <a href="/"><img src="images/parallax/bulles-traits.png" alt="line bubble" width="550" height="255" /></a>
          </div>
          <div id="a2">
            <a href="/"><img src="images/parallax/bulles-works.png" alt="works bubble" width="665" height="360" /></a>
          </div>
          <div id="a3">
            <a href="/">
              <img src="images/parallax/bulles-works-shadows.png" alt="works bubble shadows" width="665" height="360" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <span id="accueil"></span>
    <div id="homepage-bg">
      <div id="bloc-txt">
        <div id="txt-home">
          <h1>Bonjour ! je suis <span class="white">Pierre Prézelin</span>, étudiant en multimédia.</h1>
          <p class="little-txt-home">
            J'adore donner le meilleur de moi-même, avec l'aide généreuse de plusieurs logiciels.
          </p>
          <p class="big-txt-home">...Et ceci est mon...</p>
          <a class="sprite sprite-portfolio_title"></a>
          <p class="moy-txt-home">Bonne visite !</p>
          <hr />
        </div>
      </div>
    </div>
    <span id="travaux"></span>
    <div id="works">
      <div id="works-intro">
        <div class="transition">
          <a class="sprite sprite-round-anchor" href="#skills" title="Vers mes compétences"></a>
          <div class="block-category">
            <h2>TRAVAUX</h2>
          </div>
        </div>
        <div id="examples-intro">
          <a class="sprite sprite-examples"></a>
        </div>
        <div class="filter">
          <a class="button-audiovisual">Audiovisuel</a>
          <a class="button-web-development">Développement web</a>
          <a class="button-graphic-design">Graphisme</a>
          <a class="button-all">Tout !</a>
        </div>
      </div>
      <div class="works-container">
        <div class="content">
          <div class="graphic">
            <a
              href="images/works/logo_OC.jpg"
              data-rel="shadowbox"
              title="Logo réalisé pour une association de promotion artistique"
            >
              <img src="images/works/OC_min.jpg" height="200" width="200" alt="Octopus Crew" />
            </a>
          </div>
          <div class="webdev">
            <a
              href="images/works/fande.JPG"
              data-rel="shadowbox"
              title="Projet PHP sur le thême d'un fan-site (en construction)"
            >
              <img src="images/works/fande_min.jpg" height="200" width="200" alt="Fan de..." />
            </a>
          </div>
          <div class="graphic">
            <a
              href="images/works/ibanez.jpg"
              data-rel="shadowbox"
              title="Vectorisation d'une Ibanez RG7620 sur Adobe Illustrator"
            >
              <img src="images/works/ibanez_min.jpg" height="200" width="200" alt="Ibanez RG7620" />
            </a>
          </div>
          <div class="graphic">
            <a
              href="images/works/somadem.jpg"
              data-rel="shadowbox"
              title="Affiche réalisée pour un groupe de reggae local"
            >
              <img src="images/works/somadem_min.jpg" height="200" width="200" alt="Somadem" />
            </a>
          </div>
          <div class="graphic">
            <a
              href="images/works/spotted.jpg"
              data-rel="shadowbox"
              title="Mise en forme du logo d'un projet annuel d'audiovisuel"
            >
              <img src="images/works/spotted_min.jpg" height="200" width="200" alt="Logo SPOTTED!" />
            </a>
          </div>
          <div class="graphic">
            <a
              href="images/works/ironmaid.jpg"
              data-rel="shadowbox"
              title="Affiche fictive type années 50, réalisée sur Photoshop"
            >
              <img src="images/works/ironmaid_min.jpg" height="200" width="200" alt="Ironmaid" />
            </a>
          </div>
          <div class="graphic">
            <a
              href="images/works/saion.jpg"
              data-rel="shadowbox"
              title="Logo réalisé pour l'appel d'offre d'une entreprise d'électronique"
            >
              <img src="images/works/saion_min.jpg" height="200" width="200" alt="Logo SAion" />
            </a>
          </div>
          <div class="audiovisuel">
            <a href="http://vimeo.com/82048489">
              <img src="images/works/teaser_min.JPG" height="200" width="200" alt="Teaser SPOTTED!" />
            </a>
          </div>
          <div class="graphic">
            <a
              href="images/works/aquarelle.jpg"
              data-rel="shadowbox"
              title="Aquarelle d'un paysage forestier et montagneux"
            >
              <img src="images/works/aquarelle_min.jpg" height="200" width="200" alt="Aquarelle" />
            </a>
          </div>
          <div class="graphic">
            <a href="images/works/btq.jpg" data-rel="shadowbox" title="Logo réalisé pour un projet musical">
              <img src="images/works/btq_min.jpg" height="200" width="200" alt="Logo Beyond the Quasar" />
            </a>
          </div>
          <div class="webdev">
            <a
              href="images/works/ccs.jpg"
              data-rel="shadowbox"
              title="Site offline, réalisé pour un projet annuel de communication"
            >
              <img src="images/works/ccs_min.jpg" height="200" width="200" alt="Color Code Studio" />
            </a>
          </div>
          <div class="graphic">
            <a
              href="images/works/jp.jpg"
              data-rel="shadowbox"
              title="Dessin traditionnel de John Petrucci (Dream Theater)"
            >
              <img src="images/works/jp_min.jpg" height="200" width="200" alt="John Petrucci" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="line-transition-skills"></div>
    <span id="skills"></span>
    <div id="skills-container">
      <div class="transition">
        <a class="sprite sprite-round-anchor" href="#contact-page" title="Vers la page Contact"></a>
        <div class="block-category">
          <h2>COMPÉTENCES</h2>
        </div>
      </div>
      <div id="skills-content">
        <h1>En tant qu'étudiant en multimédia,</h1>
        <p class="little-txt-home">
          Je pense qu'il est primordial d'être polyvalent dans beaucoup de domaines.<br />
          Apprendre à utiliser toujours plus efficacement les logiciels de référence est mon credo.
        </p>
        <p class="little-txt-skills">Vous pouvez découvrir ici mes principales armes pour mes travaux.</p>
        <hr />
        <div id="container-soft">
          <div id="bloc-soft">
            <a class="sprite sprite-logo-soft"></a>
          </div>
        </div>
      </div>
    </div>
    <span id="contact-page"></span>
    <div id="contact-container">
      <div class="transition-contact">
        <a class="sprite sprite-round-anchor" href="#link-footer" title="Vers le bas de page"></a>
        <div class="block-category">
          <h2>CONTACT</h2>
        </div>
      </div>
      <div id="contact-center">
        <div id="contact-left">
          <h1>Ça valait le coup ?</h1>
          <p class="txt-contact1">
            Vous pouvez ici me laisser un message, ou télécharger mon CV pour plus d'informations.<br />
            Vous pouvez aussi me trouver sur les réseaux sociaux, exceptés les pigeons voyageurs. Ils salissent mon bureau.
          </p>
          <div id="bloc-form">
            <div class="title-form-fr">
              <p>RESTEZ EN CONTACT !</p>
            </div>
            <form id="contact" method="post" action="">
              <p>
                <label for="name">Nom :</label>
                <input type="text" name="name" id="name" placeholder="Nom" />
              </p>
              <p>
                <label for="from">Email :</label>
                <input type="text" name="from" id="from" placeholder="Email" />
              </p>
              <p>
                <label for="object">Objet :</label>
                <input type="text" name="object" id="object" placeholder="Objet" />
              </p>
              <p>
                <label for="message">Message :</label>
                <textarea name="message" id="message" rows="10" cols="40"></textarea>
              </p>
              <p>
                <input type="submit" name="send" value="C'EST PARTI !" disabled />
              </p>
            </form>
          </div>
        </div>
        <div id="contact-right">
          <div id="bloc-photo">
            <p>(Oui, c'est bien moi)</p>
            <a class="sprite sprite-photo"></a>
          </div>
          <div id="bloc-infos">
            <h2>Vous pouvez me trouver sur</h2>
            <hr />
            <div class="container-social">
              <div class="bloc-social">
                <div id="bloc-network">
                  <a class="sprite sprite-vimeo" href="http://www.vimeo.com/pierreprezelin"></a>
                  <a class="sprite sprite-linkedin" href="http://www.linkedin.com/pub/pierre-pr%C3%A9zelin/85/902/612"
                  ></a>
                </div>
              </div>
            </div>
            <h2>Envoyez-moi un e-mail !</h2>
            <hr />
            <div class="container-social">
              <div class="bloc-social">
                <div id="bloc-img">
                  <a class="sprite sprite-email-img"></a>
                </div>
              </div>
            </div>
            <h2>Téléchargez mon CV</h2>
            <hr />
            <div class="container-social">
              <div class="bloc-social">
                <div id="bloc-cv">
                  <a class="sprite sprite-pdf" href="../assets/images/documents/cv-fr.pdf"></a>
                </div>
              </div>
            </div>
          </div>
          <div id="container-up">
            <div id="bloc-up">
              <a href="#y-top" title="RETOUR EN HAUT !">Raté quelque chose ? RETOUR EN HAUT !</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
