<div id="footer">
  <div id="bloc-footer">
		<p id="txt-footer-left">
			Ce site a été programmé avec <a href="http://www.w3.org/TR/html/">HTML5</a>, <a href="http://www.w3.org/TR/CSS/">CSS3</a> & <a href="http://jquery.com/">jQuery</a>. Pour une meilleure expérience, visitez ce site avec les dernières version de <a href="http://www.google.fr/intl/fr/chrome/browser/">Chrome</a>, <a href="http://www.mozilla.org/fr/firefox/new/">Firefox</a> ou <a href="https://www.apple.com/fr/safari/">Safari.</a>
		</p>
    <p id="txt-footer-right">
      © Copyright · Pierre Prézelin 2013-<span id="current-year"></span> · <a href="assets/img/mentions.pdf">Mentions légales</a>
    </p>
  </div>
</div>
<span id="link-footer"></span>
