<span id="y-top"></span>
<div id="header">
  <nav id="menu-header">
    <a class="nom" href="index.php">Pierre // <span class="strong">PRÉZELIN</span></a>
    <ul id="pages">
      <li><a href="#accueil" title="Retour à l'accueil">ACCUEIL</a><span> // </span></li>
      <li><a href="#travaux" title="Vers mes travaux">TRAVAUX</a><span> / </span></li>
      <li><a href="#skills" title="Vers mes compétences">COMPÉTENCES</a><span> / </span></li>
      <li><a href="#contact-page" title="Vers la page Contact">CONTACT</a></li>
    </ul>
  </nav>
</div>
